* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF4E8;
    font-family: "Bungee", sans-serif;
    color: #1F2937;
    margin-top: 3.5rem;
}

h1 {
    font-size: 5.5rem;
    margin-bottom: -1rem;
}

h3 {
    font-size: 4rem;
    margin-right: 6rem;
    margin-left: 4.5rem;
}

p {
    font-size: 1.2rem;
    color: #84b5c9;
}

#title-area,
#language-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#workArea {
    display: flex;
    margin-top: 6rem;
    text-align: left;
    margin-left: 9rem;
}

#language-area {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


#language-dropdown {
    width: 20%;
    border: #50E3C2 0.25rem;
    box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.3);
    border-style: inset;
    background-color: #ECF4E8;
    border-radius: 2rem;
    font-family: "Bungee",
        sans-serif;
    text-align: center;
}

#textArea,
#fileArea {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#textArea {
    margin-right: 8rem;
}

#fileArea {
    margin-left: 10rem;
}

#textAreaP {
    font-size: 1rem;
}

#textInput {
    width: 100%;
    height: 6rem;
    border: #50E3C2 0.25rem;
    box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.3);
    border-style: inset;
    background-color: #ECF4E8;
    border-radius: 2rem;
    font-family: "Bungee",
        sans-serif;
    resize: none;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

button {
    border: #50E3C2 0.25rem inset;
    box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.3);
    background-color: #1F2937;
    color: #50E3C2;
    border-radius: 2rem;
    height: 3rem;
    width: 8rem;
    font-family: "Bungee",
        sans-serif;
    cursor: pointer;
}

#btnSummarizeText,
#btnExtractAndSummarize {
    align-self: center;
}

#input-label {
    background-color: #ECF4E8;
    cursor: pointer;
    border: #50E3C2 0.25rem inset;
    box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    height: 2.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3.4rem;
    width: 80%;
    align-self: center;
}

#fileInput {
    display: none;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
}


#resultAreaWrapper {
    width: 40rem;
    min-height: 25rem;
    margin: 5rem auto;
    padding: 2.5rem;
    border: #50E3C2 0.25rem;
    box-shadow: 0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.3);
    border-style: inset;
    background-color: #1F2937;
    border-radius: 2rem;
    color: #ECF4E8;
    text-align: left;
}

#result-area {
    font-family: "Bungee", sans-serif;
    line-height: 1.5rem;
    padding-top: 1rem;
}

#result-area h2 {
    font-size: 2rem;
    font-family: "Bungee", sans-serif;
    color: #50E3C2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid #50E3C2;
}

#result-area p {
    font-size: 1.1rem;
    color: #ECF4E8;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

#result-area ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
}

#result-area ul li {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    position: relative;
    font-family: sans-serif;
}

#result-area ul li::before {
    content: ">>";
    color: #50E3C2;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
    position: absolute;
    font-family: "Bungee", sans-serif;
    font-size: 0.8rem;
}

#fileName {
    font-size: 0.8rem;
}