@media (max-width: 1200px) {
    h1 {
        font-size: 4rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 3rem;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    #workArea {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        margin-top: 4rem;
    }

    #textArea,
    #fileArea {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 90%;
        margin-bottom: 3rem;
        text-align: center;
        align-items: center;
    }

    #textInput {
        width: 100%;
        max-width: 35rem;
        height: 8rem;
    }

    #resultAreaWrapper {
        width: 90%;
        min-height: 20rem;
        margin: 3rem auto;
        padding: 1.5rem;
    }

    #language-dropdown {
        width: 50%;
    }
}